<nav class="navbar">
    <div class="navbar-container">
        <div class="left-container">
            <a href="" class="navbar-logo"><img src="/images/whatsapp.png" alt=""><span>Message Me </span></a>
        </div>
        <div class="center-container">

            <body>
                <form action="/whatsapp/new">
                    <button type="submit" class="">New Chat</button>
                </form>
        </div>
        <div class="right-container">

        </div>
    </div>
</nav>