<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <title><%-title%></title>
</head>

<body>
    <%-include("../includes/navbar.ejs")%>
        <div class="max-w-5xl mx-auto px-4 bg-red-100">
            <%-body%>
        </div>
        <%-include("../includes/footer.ejs")%>
</body>

</html>