<%-layout("layouts/boilerplate.ejs")%>
    <%title="New Chat"%>
    <%css="new.css"%>
    
        <form action="/whatsapp/" method="post" class="form">
            <label for="from">From</label>
            <input id="from" name="chat[from]" type="text" class="input" placeholder="Sender" required>
            <label for="to">To</label>
            <input id="to" name="chat[to]" type="text" class="input" placeholder="Reciever" required>
            <label for="message"></label>
            <textarea id="message" name="chat[message]" type="text" class="input" placeholder="Type something to write a message" required></textarea>
            <button>Submit</button>
        </form>
    
        